@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root Settings*/

:root {
    /*Primary*/

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /*Neutral*/

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*Paragraph*/

    --very-light-gray: hsl(0, 0%, 95%);
    /*Background, Heading, and Button*/
}

/*Basic Styles*/

body {
    background: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Components*/

.container {
    border-radius: .5rem;
    overflow: hidden;
    margin: 1.5rem;
}

.container__card {
    color: var(--very-light-gray);
    padding: 3rem;
}

.container__card--bright-orange {
    background: var(--bright-orange);
}

.container__card--dark-cyan {
    background: var(--dark-cyan);
}

.container__card--very-dark-cyan {
    background: var(--very-dark-cyan);
}

.container__card__heading {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-top: 1.9rem;
}

.container__card__text {
    color: var(--transparent-white);
    font-size: .9375rem;
    line-height: 1.6;
    margin-top: 1.9rem;
}

.container__card__btn {
    background: var(--very-light-gray);
    font-size: .9375rem;
    text-decoration: none;
    border-radius: 2rem;
    display: inline-block;
    padding: .9rem 1.8rem;
    margin-top: 1.6rem;
}

.container__card__btn--bright-orange {
    color: var(--bright-orange);
}

.container__card__btn--dark-cyan {
    color: var(--dark-cyan);
}

.container__card__btn--very-dark-cyan {
    color: var(--very-dark-cyan);
}

/*Responsive Web Design*/

@media screen and (min-width: 53.125rem) {
    .container {
        width: 900px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .container__card {
        padding: 2.8rem;
    }

    .container__card__btn {
        margin-top: 6rem;
    }
}