@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root Settings*/

:root {
    /*Primary*/

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /*Neutral*/

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*Paragraph*/

    --very-light-gray: hsl(0, 0%, 95%);
    /*Background, Heading, and Button*/
}

/*Basic Styles*/

body {
    background: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Components*/

.container {
    border-radius: .5rem;
    overflow: hidden;
    margin: 1.4rem;
}

.container__card {
    color: var(--very-light-gray);
    padding: 2.8rem;
}

.container__card--bright-orange {
    background: var(--bright-orange);
}

.container__card--dark-cyan {
    background: var(--dark-cyan);
}

.container__card--very-dark-cyan {
    background: var(--very-dark-cyan);
}